body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
.header{
    top: 0;
    background-color: #333;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.headertext{
    color: white;
}