<div class ="background">
    <span style="padding-left:600px"></span>
    <input [(ngModel)]="movietitle" class="search" />
    <button (click)="onbuttonclick()">Search</button>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col" *ngFor= "let movie of movies">
            <div class="card"  style="width: 18rem">
                <img style="width: 18rem;" src={{movie.Poster}}>
            </div>
            <div>
                <p>{{movie.Title}}</p>
                <p>Type {{movie.Type}}</p>
                <p>Year {{movie.Year}}</p>
                <p>imdbID {{movie.imdbID}}</p>
            </div>

        </div>
    </div>
</div>